/* Dit css bestand is verantwoordelijk voor de styling van de registratie pagina*/

body {
  font-family: Verdana;
  font-size: 10px;
}

header,
footer {
  text-align: center;
  width: 100%;
  border: 2px solid black;
  background-color: lightblue;
}

header {
  margin-top: -7px;
}

h3,
form,
p {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  input[type="submit"],
  input[type="button"] {
    width: 90%;
    height: 50px;
  }
}
